@import url(https://enhanceddiscord.com/theme.css);

/* theme settings */
:root {
    /* background for the entire window. Almost everything is transparent to this image. */
    /* --bg: url(https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fapologiaradio.com%2Fwp-content%2Fuploads%2F2018%2F02%2FJesse-Lee-Peterson.jpg); */
    --bg: url(https://wallpaper.wiki/wp-content/uploads/2017/06/Beautiful-Mountain-in-Night-Wallpapers-HD-Pictures.jpg);
    --bg-overlay: rgba(0, 0, 0, 0.8); /* overlay for the background. Generally, this should darken the picture to make text more readable. */
    --accent-color: #900; /* color of buttons, misc. text, etc. */
    --mention-color: #f00; /* color of mention text */
    --mention-bg: rgba(255, 0, 0, 0.15); /* mention background color */
    --mention-bgh: rgba(255, 0, 0, 0.4); /* mention backgroung while hovering over it *//
    --link-color: #faa61a; /* color of all links */
    --link-color-hover: #fad61a; /* color of all links while hovering over them */
    --tag-color: #fff; /* text color of tags (bot tags and custom) */
    --tag-bg: rgba(255, 0, 0, 0.3); /* background of tags (bot tags and custom) */
    --popup-background: #222; /* background of modals, confirmation messages etc. */
    --popup-highlight: #333; /* color of headers and footers of "popouts" (linked to above) */
    --context-menu-bg: #333; /* color of context (right-click) menus. */
    --unread-color: #f00; /* color of unread/selected server indicators. */
}

/* nitrofag badge */
.profileBadgePremium-3kZ9Qj, .topSectionNormal-2-vo2m .profileBadgePremium-3kZ9Qj,
.profileBadgePremium-3kZ9Qj, .topSectionPlaying-1J5E4n .profileBadgePremium-3kZ9Qj {
    background-image: url(https://discordapp.com/assets/9c252d28ca4980d65054a0258052983b.svg);
}
